In [2]:
# Supress warnings
import warnings
warnings.simplefilter(action = 'ignore')

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection  import train_test_split
from sklearn import metrics

In [9]:
data=pd.read_csv("startup_data.csv")
df=pd.DataFrame(data)
df.describe(include='all')

       Startup Name Industry  ...     Region  Exit Status
count           500      500  ...        500          500
unique          500        8  ...          5            3
top     Startup_500   EdTech  ...  Australia      Private
freq              1       74  ...        108          348
mean            NaN      NaN  ...        NaN          NaN
std             NaN      NaN  ...        NaN          NaN
min             NaN      NaN  ...        NaN          NaN
25%             NaN      NaN  ...        NaN          NaN
50%             NaN      NaN  ...        NaN          NaN
75%             NaN      NaN  ...        NaN          NaN
max             NaN      NaN  ...        NaN          NaN

[11 rows x 12 columns]

In [11]:
df1=df.drop("Startup Name", axis=1)
df1.describe(include="all")

       Industry  Funding Rounds  ...     Region  Exit Status
count       500      500.000000  ...        500          500
unique        8             NaN  ...          5            3
top      EdTech             NaN  ...  Australia      Private
freq         74             NaN  ...        108          348
mean        NaN        2.958000  ...        NaN          NaN
std         NaN        1.440968  ...        NaN          NaN
min         NaN        1.000000  ...        NaN          NaN
25%         NaN        2.000000  ...        NaN          NaN
50%         NaN        3.000000  ...        NaN          NaN
75%         NaN        4.000000  ...        NaN          NaN
max         NaN        5.000000  ...        NaN          NaN

[11 rows x 11 columns]